<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Work Order List</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="work-order-list.js"></script>
	<script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
	<link rel="stylesheet" href="work-order-list.css">
	<link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/4647/4647605.png">
</head>

<body>
	<h1>Work Order List</h1>
	<div class="container">
		<table id="workOrderTable">
			<thead>
				<tr>
					<th>Work Order</th>
					<th>Team</th>
					<th>Team Location</th>
					<th>Creation Date</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</body>

</html>